<div class="col-md-10 col-md-offset-1 dCard" >

    <div class="table-responsive col-md-12">
    <table class="table table-stripped">
        <thead>
            <thead style="background:#f2f2f2;">

                <td ng-click="sortType = 'user_id'"><span ng-hide="sortType == 'user_id'" class="fa fa-caret-down"></span>
                    User ID</td>
                <td ng-click="sortType = 'username'"><span ng-hide="sortType == 'username'" class="fa fa-caret-down"></span> Username</td>
                <td ng-click="sortType = 'email'"><span ng-hide="sortType == 'email'" class="fa fa-caret-down"></span> Email</td>
                <td ng-click="sortType = 'active'"><span ng-hide="sortType == 'active'" class="fa fa-caret-down"></span> Active</td>
                <td ng-click="sortType = 'active'"> Operation</td>

            </thead>
        </thead>
        <tr ng-repeat="x in userData  | orderBy:sortType">
            <td>{{ x.user_id }}</td>
            <td>{{ x.username }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.active }}</td>
            <td ng-if="x.active===1"><button ng-click="deactivate(x.user_id)" class="btn btn-danger " >Deactivate</button></td>
            <td ng-if="x.active===0"><button ng-click="activate(x.user_id)" class="btn btn-primary " >Activate</button></td>
        </tr>
    </table>
    </div>

</div>


