<center><font size="5">Create Blog</font></center>
<div class="col-md-offset-1 col-md-11 mCard" >


    <form name="blogform">
        <fieldset class="form-group">
            <label for="exampleInputEmail1">Blog title</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="title" placeholder="Enter blog title" ng-model="blogData.blog_title" required>
            <span style="color:red" ng-show="blogform.title.$dirty && blogform.title.$invalid">
              <span ng-show="blogform.title.$error.required">Title is required.</span>
            </span>
            <small class="text-muted">Your Blog title goes here</small>
        </fieldset>

        <fieldset class="form-group">
            <label for="exampleSelect1">Select Category</label>
            <select class="form-control" id="exampleSelect1" ng-model="blogData.category_id">
                <option ng-repeat="x in categories" value="{{x.category_id}}">{{x.category_name}}</option>
            </select>
        </fieldset>

        <fieldset class="form-group">
            <label for="exampleTextarea">Blog body</label>
            <textarea class="form-control" id="exampleTextarea" name="body" rows="15" ng-model="blogData.blog_body" required></textarea>
            <span style="color:red" ng-show="blogform.body.$dirty && blogform.body.$invalid">
              <span ng-show="blogform.body.$error.required">Blog Body is required.</span>
            </span>
        </fieldset>
        <fieldset class="form-group">
            <label for="exampleInputFile">Image</label>
            <input type="file" class="form-control-file" id="exampleInputFile">
            <small class="text-muted"> This image will come at the top of your blog.</small>
        </fieldset>

        <button type="submit" ng-click="addBlog()"class="btn btn-primary" ng-disabled="blogform.title.$dirty && blogform.title.$invalid ||
blogform.body.$dirty && blogform.body.$invalid">Submit</button>
    </form>
</div>




<style>

    .mCard{
        background: #2F96B4; padding:30px;
        margin:40px;
        border-radius:2px;
        box-shadow: 2px 2px black;
    }

</style>